/otp
/_build
erl_crash.dump
*.so
*.zip
*.tar.gz
*.tmp
.DS_Store
tmp/

# Dart/Flutter
.dart_tool/
.packages
.pub/
pubspec.lock
*.iml
.idea/

# Example app binaries (downloaded separately)
packages/beam_vm_example/android/app/src/main/jniLibs/
packages/beam_vm_example/ios/liberlang.xcframework/
